@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/markdown.css';

@font-face {
  font-family: 'ABCWhyte';
  src: url('/fonts/ABCWhyte-Medium-Trial.woff2') format('woff2'),
       url('/fonts/ABCWhyte-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABCWhyte';
  src: url('/fonts/ABCWhyte-Regular-Trial.woff2') format('woff2'),
       url('/fonts/ABCWhyte-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground: #000000;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  font-family: 'ABCWhyte', sans-serif;
}

